@tailwind base;
@tailwind components;
@tailwind utilities;

.dropdown {
  position: relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
